<table border="1">
    <thead>
        <tr>
            {% for col in colnames %}
            <th>{{ col }}</th>
            {% endfor %}
            <th>Link</th>            
        </tr>
    </thead>
    <tbody>
        {% for record in records %}
        <tr>
            {% for col in colnames %}
            <td>{{ record[col] }}</td>
            {% endfor %}
            <td>
                <a href ="http://127.0.0.1:5000/script/{{ record['host'] }}" target="_blank">Link  </a>

             </td>
        </tr>
        
        {% endfor %}

        
    </tbody>
</table>